.has-light-color {
    color: var(--col-light) !important;
}

.has-brown-400-background-color {
    background-color: var(--col-brown-400);
}
.has-brown-600-background-color {
    background-color: var(--col-brown-600);
}