#wrapper-navbar {
    background-color: var(--col-brown-400);

    padding-block: 0.5rem;

    transition: transform 500ms ease;
    
    .navbar-brand {
        background-image: url(../img/sunset-cove-logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 3 / 2;
        height: 90px;
    }

    .nav-link {
        display: inline;
        padding-block: 0;
        color: inherit;
    }
    .nav-item {
        font-weight: var(--fw-700);
        font-size: var(--fs-500);
        text-transform: uppercase;
        position: relative;
    }
    @media (min-width:992px) {
        .nav-item:not(:last-child)::after {
            content: "";
            border-right: 3px solid var(--col-dark);
        }
    }
    &.hidden {
        transform: translateY(-100%);
    }
}
